---
layout: page
title: Projects
excerpt: "Overview of Karttur´s site"
image:
  feature: troplandformmap.png
  credit: Plains, hills and lakes (Thomas Gumbricht, Karttur AB)
search_omit: true
---

<h1>Project sites<h1>
<ul class="post-list">
{% for link in site.data.navigation %}
  {% if link.include contains 'Y' %}
    {% if link.include contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
        <li><article><a href="{{ domain }}{{ link.url }}">{{ link.title }} <span class="entry-date"></span>{% if link.excerpt %} <span class="excerpt">{{ link.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

<h1>Blog<h1>
<ul class="post-list">
{% for post in site.posts limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h1>Articles<h1>
<ul class="post-list">
{% for post in site.categories.page limit:5 %}
  <li><article><a href="{{ site.url }}{{ page.url }}">{{ page.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
